---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Simulation} from '../components/Simulation';
import {Page} from "../components/Page";
---

<Layout title="Welcome to Astro.">
	<main>
		<Page client:only />
	</main>
</Layout>

<style>
</style>
