---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Simulation} from '../components/Simulation';
---

<Layout title="Welcome to Astro.">
	<main>
		<Simulation client:only />
	</main>
</Layout>

<style>
</style>
